.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: #ffffff;
    background-color: #122230;
}

#login {
    width: 100%;
    background: url("../../../assets/bgArca.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: fixed;

    .formLogin {
        background-color: white;
    }
    .flexLogin {
        //background-color: yellowgreen;
    }
    .cardLogin {
        width: 80%;
    }
    .logo {
        width: 128px;
        margin: 32px auto;
        img#imgLogo {
            width: 150px;
        }
    }
    .title {
        font-size: 19px;
        margin: 16px 0 32px 0;
    }
    .forgot-password {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    mat-card-subtitle.mat-card-subtitle {
        font-size: initial;
        color: #112230;
        font-family: sans-serif;
    }
    mat-form-field {
        width: 70%;
    }
    .submit-button {
        width: 220px;
        margin: 16px auto;
        display: block;
    }
    a.forgot-password {
        color: #112230;
        text-decoration: none;
    }
    .forgot-password a:hover {
        background-color: blue($color: #000000);
    }
    .remember-me {
        margin-left: 15%;
    }
}
