<div id="login" fxLayout.xs="column" fxLayoutAlign="center">
    <div class="item item-1" fxFlex="30%" fxFlexOrder="1"></div>
    <div class="item item-1" fxFlex="30%" fxFlexOrder="3"></div>
    <div
        class="flexLogin"
        fxLayout="column"
        fxFlexOrder="2"
        fxLayoutAlign="center center"
        fxFlex="50%"
    >
        <mat-card class="cardLogin">
            <div fxLayoutAlign="center" class="logo">
                <img id="imgLogo" src="../../../assets/arcaLogo.png" />
            </div>
            <div class="title" fxLayoutAlign="center">
                Redefinir senha
            </div>
            <br />
            <div fxLayoutAlign="center">
                <mat-card class="title2">
                    A senha devem ter entre 6 e 12 caracteres.
                </mat-card>
            </div>
            <br />
            <form [formGroup]="passwordGroup" (ngSubmit)="recoverPassword()">
                <div class="example-container">
                    <div fxLayoutAlign="center">
                        <mat-form-field appearance="outline">
                            <mat-label>Nova senha</mat-label>
                            <input
                                matInput
                                [type]="hide ? 'password' : 'text'"
                                formControlName="passInit"
                                name="senha1"
                            />
                            <mat-icon matSuffix (click)="hide = !hide">{{
                                hide ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxLayoutAlign="center">
                        <mat-form-field appearance="outline">
                            <mat-label>Confirme a senha</mat-label>
                            <input
                                formControlName="passEnd"
                                name="senha2"
                                [type]="hide1 ? 'password' : 'text'"
                                matInput
                            />
                            <mat-icon matSuffix (click)="hide1 = !hide1">{{
                                hide1 ? "visibility_off" : "visibility"
                            }}</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxLayoutAlign="center">
                        <span style="color: red;" class="error">
                            Campos devem ser iguais!!!
                        </span>
                    </div>

                    <br />
                    <div fxLayoutAlign="center">
                        <button
                            mat-raised-button
                            class="submit-button"
                            mat-button
                            color="primary"
                            type="submit"
                        >
                            Redefinir
                        </button>
                    </div>
                    <br />
                    <br />
                    <div fxLayoutAlign="center">
                        <a
                            mat-button
                            class="forgot-password"
                            routerLink="/login"
                        >
                            Voltar para o login
                        </a>
                    </div>
                    <br />
                </div>
            </form>
        </mat-card>
    </div>
</div>
